/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: SF;
    src: url(./Fonts/SFPRODISPLAYMEDIUM.OTF);
}
@font-face {
    font-family: SR;
    src: url(./Fonts/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
    font-family: PR;
    src: url(./Fonts/ppneuemontreal-medium.otf);
}

@font-face {
    font-family: DR;
    src: url(./Fonts/Denton\ Test\ Medium\ 500.otf);
}


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    overflow: hidden;
}

#page1{
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
}

#page1 h4{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    border-radius: 8px;
    padding: 0.8vw 2vw;
    border-radius: 10px;
    line-height: 140%;
    text-align: center;
    border: 1px solid #78787883;
    color: linear-gradient(95deg, #047AFF 15.65%, #7917DF 48.71%);
    -webkit-box-shadow: 0px 4px 14px 0px rgba(143, 61, 224, 0.10) inset;
            box-shadow: 0px 4px 14px 0px rgba(143, 61, 224, 0.10) inset;
    background: var(--Purple-gradient, linear-gradient(95deg, #047AFF 15.65%, #7917DF 48.71%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 4.48px;
}

#page1 h1{
    font-size: 72px;
    font-weight: 500;
    text-align: center;
    font-family: PR;
    width: 80%;
    letter-spacing: -2px;
    line-height: 100%;
}

#page1 h1 span{
    background: var(--Purple-gradient, linear-gradient(95deg, #047AFF 15%, #7917DF 48%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    font-family: DR;
    font-size: 72px;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 100%;
}

#page1 p{
    text-align: center;
    color: #656565;
    font-size: 25px;
    font-weight: 500;
    font-family: SF;
    line-height: 150%;
    letter-spacing: -1px;
    z-index: 100;
}

#page1 a{
    text-decoration: none;
    border: none;
    padding: 25px 50px;
    border-radius: 100px;
    font-size: 18px;
    text-align: center;
    background: -o-linear-gradient(355deg, rgba(4, 122, 255, 0.20) 15.65%, rgba(121, 23, 223, 0.20) 48.71%);
    background: linear-gradient(95deg, rgba(4, 122, 255, 0.20) 15.65%, rgba(121, 23, 223, 0.20) 48.71%);
    font-size: 20px;
    font-weight: 500;
    font-family: SF;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 100;
}


#page1 svg{
    position: absolute;
    top: 0;
    left: 20%;
}


#page2{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}


#page2 #background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

#page2 #color{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
#page2 #background svg{
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 180%;
    height: 180%;
}

#page2 #image{
    width: 400px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

#c{
    position: absolute;
}
#c2{
    position: absolute;
}

#img{
    padding-top: 80px;
    padding-left: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}

#page3{
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 80px;
    margin-top: 100px;
    padding: 0 5vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: relative;
    z-index: 999;
}

#page3 #left{
    width: 500px;
    height: 500px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    -webkit-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.04);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

#page3 #left #line{
    width: 100%;
    height: 100%;
    position: absolute;
}
#page3 #left #back{
    position: absolute;
    top: 0;
    left: 0%;
}

#page3 svg{
    width: 100%;
    height: 100%;
}


#page3 #left #center{
    width: 350px;
    height: 250px;
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.50)), color-stop(53.56%, rgba(255, 255, 255, 0.50)), to(rgba(255, 255, 255, 0.00)));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 53.56%, rgba(255, 255, 255, 0.00) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 53.56%, rgba(255, 255, 255, 0.00) 100%);-webkit-box-shadow: 0px -32px 32px 0px rgba(2, 37, 62, 0.04);box-shadow: 0px -32px 32px 0px rgba(2, 37, 62, 0.04);
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
    box-shadow: 0px -32px 32px 0px rgba(2, 37, 62, 0.04);
    
}

#page3 #left #center svg{
    width: 5px;
    height: 5px;
}

#page3 #left #center #det{
    padding: 5px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    
}

#page3 #left #center #second{
    margin-top: 20px;
    margin-left: 30px;
    width: 300px;
    height: 200px;
    position: relative;
    border-radius: 10px;
    border: 1px solid #EFEFEF;
    background: #fff;
    -webkit-backdrop-filter: blur(75px);
            backdrop-filter: blur(75px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#page3 #left #center #second #second-back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

#page3 #left #center #second #second-left{
    width: 100px;
    height: 100%;
    padding: 10px 10px;
}
#page3 #left #center #second #second-left .round{
    width: 100%;
    height: 8px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;
}


#page3 #left #center #second #second-right{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

#page3 #left #center #second #second-right .square{
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.06);
}

#page3 #left #center #second #second-button{
    position: absolute;
    bottom: -15%;
    right: 0;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.20);
    -webkit-filter: drop-shadow(0px 24px 48px rgba(2, 37, 62, 0.10));
            filter: drop-shadow(0px 24px 48px rgba(2, 37, 62, 0.10));
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 100;
}

#page3 #left #center #second #second-button #outer-circle{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    fill: rgba(255, 255, 255, 0.40);
    -webkit-filter: drop-shadow(0px 24px 48px rgba(2, 37, 62, 0.40));
            filter: drop-shadow(0px 24px 48px rgba(2, 37, 62, 0.40));
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1000;
}

#page3 #left #center #second #second-button #outer-circle #inner-circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: -o-linear-gradient(359deg, #047AFF 0.9%, #7917DF 116.55%);
    background: linear-gradient(91deg, #047AFF 0.9%, #7917DF 116.55%);
    -webkit-backdrop-filter: blur(5.560588359832764px);
            backdrop-filter: blur(5.560588359832764px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#page3 #left #center #second #second-button #outer-circle #inner-circle #bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#page3 #right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

#page3 #right h1{
    font-size: 100px;
    font-weight: 500;
    font-family: PR;
    width: 90%;
    letter-spacing: -2px;
}

#page3 #right h1 span{
    background: var(--Purple-gradient, linear-gradient(95deg, #047AFF 15.65%, #7917DF 50%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    font-family: DR;
}

#page3 #right ul li{
    margin-top: 20px;
}

#page3 #right p{
    font-family: SR;
    font-size: 25px;
    font-weight: 400;
    color: #3E3E3E;
    line-height: 30px;
    width: 90%;
}

#page4{
    width: 100vw;
    height: 80vh;
    padding: 50px 150px;
}

#page4 #details{
    width: 100%;
}
#page4 #upper_details{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-bottom: 1px solid #E7E7E7;;
}
#page4 #footer_left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
}
#page4 #company{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

#page4 #upper_details h4{
    font-size: 20px;
    font-weight: 500;
    color: #000;
    opacity: 0.8;
    font-family: SF;
    line-height: 150%;
}
#page4 #social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 50px;
}
#page4 svg{
    width: 100px;
    cursor: pointer;
}

#page4 #footer_right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 30px;
}

#page4 #footer_right a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    text-align: right;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    font-family: SF;
}

#page4 #text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0;
}
#page4 #text h4{
    font-size: 20px;
    font-weight: 400;
    color: #000;
    opacity: 0.5;
    font-family: PR;
}
#page4 #text a{
    font-size: 20px;
    font-weight: 400;
    color: #000;
    opacity: 0.5;
    text-decoration: none;
    font-family: PR;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #page1{
        height: 50%;
        margin-top: 100px;
    }
    #page2{
        height: 50%;
    }
    #page2 #elice{
        top:30%;
        width: 50%;
        height: 50%;
    }
    #page3{
        width: 100%;
        height: 50%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 10vh 5vw;
    }
    #page3 #right{
        padding: 0 15vw;
    }
    #page3 #right h1{
        font-size: 70px;
        width: 100%;
    }
    #page4{
        height: 50%;
    }
}
@media only screen and (max-width: 767px) {
    #page1{
        margin-top: 50px;
    }
    #page1 h1{
        font-size: 40px;
    }
    #page2{
        height: 50%;
    }
    #page2 #elice{
        top:30%;
        width: 40%;
        height: 40%;
    }
    #page3{
        width: 100%;
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 10vh 5vw;
    }
    #page3 #left{
        width: 100%;
        height: 400px;
    }
    #page3 #left #center{
        width: 90%;
        height: 60%;
    }
    #page3 #left #center #second{
        width: 80%;
        height: 100%;
    }
    #page3 #right{
        padding: 0 15vw;
    }
    #page3 #right h1{
        font-size: 50px;
        width: 100%;
    }
    #page4{
        width: 100%;
        height: 150%;
        padding:0 10vw;
    }
    #page4 #upper_details{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #page4 #footer_right a{
        text-align: left;
    }
    #page4 #text{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: left;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 20px;
    }
    #page4 #text h4{
        font-size: 15px;
    }
    #page4 #text a{
        font-size: 15px;
    }
}
  
